.container {
    max-width: 100%;
    margin: 0 auto;
}

body {
    min-width: 100%;
    background-image: url("http://acepokersolutions.com/poker-software/bovada-mods/APS-t1.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
}

h1 {
    font-size: 30px;
    text-align: center;
    color: red;
    background: black;
}

.playerBtn {
    position: absolute;
    right: 20%;
    bottom: 20%;
    padding: 15px;
}

.deal {
    font-size: 25px;
    height: 50px;
    width: 75px;
    font-weight: bold;
    background: blue;
}

.hit {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 75px;   
    background: green;  
}

.stay {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 75px; 
    background: red;   
}

.dealer {
    position: absolute;
    top: 30%;
    left: 30%;
    color: yellow;
    font-size: 25px;
}

.player {
    color: orangered;
    position: absolute;
    bottom: 30%;
    right: 25%;
    font-size: 25px;
    box-sizing: content-box;
    background: plum;
}

.dealerCards {
    height: 200px;
    width: 100px;
    background-image: url("https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/thumb/4/4c/Card_back-Pandaria.png/200px-Card_back-Pandaria.png?version=cf42a3965b66286f6e615b77cebc5359");
    background-size: 100%;  
    background-repeat: no-repeat;
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 35%;
}

.playerCards {
    height: 200px;
    width: 100px;
    background: url("https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/thumb/4/4c/Card_back-Pandaria.png/200px-Card_back-Pandaria.png?version=cf42a3965b66286f6e615b77cebc5359");
    background-size: 100%;  
    background-repeat: no-repeat; 
    font-size: 80px;
    position: absolute;
    bottom: 25%;   
    right: 35%; 
}
