* {
     box-sizing: border-box;
 }
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* [class*="col-"] {
    float: left;
    padding: 15px;
} */

/* .row-2 {
    height: 100px;
} */
.col-1 {width: 8.33%;float: left;padding: 15px;}
.col-2 {width: 16.66%;float: left;padding: 15px;}
.col-3 {width: 25%;float: left;padding: 15px;}
.col-4 {width: 33.33%;float: left;padding: 15px;}
.col-5 {width: 41.66%;float: left;padding: 15px;}
.col-6 {width: 50%;float: left;padding: 15px;}
.col-7 {width: 58.33%;float: left;padding: 15px;}
.col-8 {width: 66.66%;float: left;padding: 15px;}
.col-9 {width: 75%;float: left;padding: 15px;}
.col-10 {width: 83.33%;float: left;padding: 15px;}
.col-11 {width: 91.66%;float: left;padding: 15px;}
.col-12 {width: 100%;float: left;padding: 15px;}

 body {
    background-image: url("http://acepokersolutions.com/poker-software/bovada-mods/APS-t1.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
 }  

.message, h1 {
    font-size: 30px;
    text-align: center;
    color: red;
    background: black;
}

.deal {
    font-size: 25px;
    font-weight: bold;
    background: blue;
}

.hit {
    font-size: 25px;
    font-weight: bold;  
    background: green;  
}

.stay {
    font-size: 25px;
    font-weight: bold;
    background: red;   
}

.double {
    font-size: 25px;
    font-weight: bold;
    background: yellow;
}

.split {
    font-size: 25px;
    font-weight: bold;
    background: orange;
}

.upBet, .downBet {
    background: yellowgreen;
    font-size: 25px;
    font-weight: bold;
}

.wage{
    color: yellowgreen;
    font-size: 25px;
    background: rgba(0,0,0,.5);
}

.bankTotal {
    color: yellowgreen;
    font-size: 25px;
    background: rgba(0,0,0,.5);
}

.player {
    color: orangered;
    font-size: 25px;
    font-weight: bold;
    background: black;
    text-align: center;
}

.card {
    
}
 
.dealerCards {
    /* background-image: url("https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/thumb/4/4c/Card_back-Pandaria.png/200px-Card_back-Pandaria.png?version=cf42a3965b66286f6e615b77cebc5359");
    background-size: 100%;    
    background-repeat: no-repeat; 
    height: 100px; */
}

.playerCards {
    /* background: url("https://hearthstone.gamepedia.com/media/hearthstone.gamepedia.com/thumb/4/4c/Card_back-Pandaria.png/200px-Card_back-Pandaria.png?version=cf42a3965b66286f6e615b77cebc5359");
    background-size: 100%;   
    background-repeat: no-repeat; 
    height: 100px; */ 
} 

.pTotal {
    font-size: 25px;
    color: green;
    background-color: black;
}

.dTotal {
    font-size: 25px;
    color: green;
    background-color: black;
} 

 


